bindings/java/dummy.cpp
build/*
configure
*.in
*/*.in
*/*.*o
*/*.la
phash-config.h
.libs
.deps
Makefile
*/Makefile
m4
autotools
autom4*
config.*
libtool
stamp-*
aclocal*
examples/test_imagehash
examples/test_texthash
*~
